@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Open Sans', sans-serif;

  --fw-regular: 400;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-60: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-background: hsl(228, 38%, 97%);
  --clr-active-color: hsl(204, 70%, 53%);
  --clr-active-color-hover: hsl(204, 55%, 64%);
  --clr-inactive-color: hsl(0, 0%, 88%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 60%);
}

body {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  height: 100vh;
  line-height: 1.625;
}

.progress-area {
  /* Flex properties */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Position */
  position: relative;

  min-width: 350px;
}

.progress-area::before {
  /* Position */
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;

  background-color: var(--clr-inactive-color);
  content: '';
  height: 3px;
  z-index: -2;
}

.progress-bar {
  /* Position */
  position: absolute;
  top: 50%;
  left: 0%;
  width: 0%;

  background-color: var(--clr-active-color);
  height: 3px;
  transition: 0.5s ease-in;
  z-index: -1;
}

.number {
  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--clr-white);
  border: 2px solid var(--clr-inactive-color);
  border-radius: 50%;
  color: var(--clr-text);
  height: 35px;
  width: 35px;
  transition: 0.5s ease-in;
  z-index: 1;
}

.number.current {
  border-color: var(--clr-active-color);
}

.buttons {
  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  margin-top: 2em;
}

.btn {
  background-color: var(--clr-active-color);
  border: none;
  border-radius: 0.5em;
  color: var(--clr-white);
  cursor: pointer;
  height: 35px;
  width: 85px;
}

.btn:hover,
.btn:active {
  background-color: var(--clr-active-color-hover);
}

.btn:disabled {
  background-color: var(--clr-inactive-color);
}
